#name {
    background: #4aaaa5;
    color: white;
    height: 40px;
    width: 250px;
    position: absolute;
    left: 0px;
    text-align: center;
    z-index: 1;
    font-weight: bold;
    border: #cccccc;
    padding-top: 10px;
    margin: 0;
    z-index: 10;
}

#about {
    float: right;
    position: relative;
    right: 30px;
    text-align: center;
}

#portfolio {
    float: right;
    position: relative;
    right: 20px;
    border-left: thin solid #cccccc;
    padding-left: 10px;
    text-align: center;
}

#contact {
    float: right;
    position: relative;
    right: 10px;
    border-left: thin solid #cccccc;
    padding-left: 10px;
    text-align: center;
}  

#topmenu {
    position: absolute;
    right: 0;
    height: 50px;
    width: 400px;
    background: white;
    font-size: small;
    padding: 0;
    margin: 0;
    z-index: 10;
}

#header {
    height: 50px;
    width: 960px;
    z-index: 0;
    color: #666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 0;
    padding: 0;
    margin: auto;
}

footer {  
    background: #666666;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding-top: 30px;
    border-top: 8px solid #4aaaa5;
    color: #dddddd;
}

#mainsection {
    background: #ffffff;
    height: 100%;
    width: 960px;
    border: solid #dddddd;
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: auto

}

#portfoliosection {
    background: #ffffff;
    height: 550pt;
    width: 960px;
    border: solid #dddddd;
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: auto
}

h3  {
    color: #4aaaa5;
    font-weight: bold;
    font-size: xx-large;
    position: relative;
    left: 20px;
}



p {
    position: relative;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 100%;
    padding-right: 20px;
    
}

body {
    background-image: url("../images/carbon.png");
    background-repeat: repeat;
    margin: auto;
    padding: 0;
    z-index: 1;
    color: #777777;
}

#pic {
    float: left;
    border: solid black;
    margin-left: 20px;
}

#headerbg {
    z-index: 2;
    background: #ffffff;
    height: 50px;
    width: 100%;
    float: left;
    border-bottom: solid #cccccc;
}

a:link, a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}


a:active {
    color: green;
    text-decoration: none;
}

hr {
    position: relative;
    bottom: 15px;
    width: 95%;
    color: #dddddd;
}

#headerline {
    position: relative;
    color: #dddddd;
    bottom: 5px;
    width: 100%;
}


.form1 {
    width: 920px;
    margin-bottom: 10px;
    color: #777777;
}

.form2 {
    width: 920px;
    height: 200px;
    color: #777777;
}

form {

    margin: 20px;
}

#submit {
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    height: 40px;
    width: 100px;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 10pt;
}

.row::after {
    clear: both;
    display: table;
}

.row {
    max-height: 600px;
}

img {
    padding: 2px;
}

.text-block {
    position: relative;
    bottom: 80px;
    background-color: #4aaaa5;
    text-align: center;
    height: 40px;
    color: white;
    line-height: 30pt;
    left: 2px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif
}